#main-container {
    width: 600px;
    margin: 0 auto;
}

#main-title {
    background-color: beige;
    text-align: center;
    color:  rgb(143, 120, 84); 
    padding: 10px 20px;
    border-radius: 10px;
    
}

#navigation {

}

.navigation {

}

#sub-title {

}

#image {
    background-image: url(snufkin.jpeg);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
}

#date {

}