#main-container {
    width: 600px;
    margin: 0 auto;
}

#main-title {
    background-color: beige;
    text-align: center;
    color:  rgb(143, 120, 84); 
    padding: 10px 20px;
    border-radius: 10px;
    width: 600px;
    box-sizing: content-box;
}

#navigation {
    text-align: center;

}

.navigation {
    display: inline-block;
    color: black;
}

#sub-title {
    text-align: center;
}

#image {
    background-image: url(snufkin.jpeg);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: 3px solid black;
}

#date {

}